<div>
<header class="page-header">
  <h1>Jungle, by Brendan Walker</h1>
</header>
<img class="gif" src="https://media.giphy.com/media/yl57llWtMLjjO/giphy.gif" alt="Laughing">
</div>
<div class="well">
<%= link_to '/' do %><div class="btn btn-default">Home <i class="fa fa-home" aria-hidden="true"></i></div><% end %>
</div>